* {
    box-sizing: border-box;
  }

body{
    max-width: 750px; 
    margin: 0 auto;   
    padding: 0 10px;    
    

}

.container{
position: relative;
}

.tittle{
  text-align:left;
  font-size: 19px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
 

}

.photo_container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 16px;
    flex: 50%;
  
}

.pics{
    height: 200px;
    width: 352px;
   

}
.flipswitch {
    position: relative;
    width: 80px;
    margin-bottom: 10px;
  }
  
  .flipswitch input[type=checkbox] {
    display: none;
  }
  
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 41px;
  }
  
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 34px;
    padding: 0;
    line-height: 34px;
    font-size: 25px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  
  .flipswitch-inner:before {
    content: "✓";
    padding-left: 15px;
    background-color: hsl(0deg 0% 41.18%);
    color: hsl(0deg 0% 67.06%);
  }
  
  .flipswitch-inner:after {
    content: "✕";
    padding-right: 10px;
    background-color: hsl(0deg 0% 41.18%);
    color: hsl(0deg 0% 67.06%);
    text-align: right;
  }
  
  .flipswitch-switch {
    width: 24px;    
    height: 24px;
    margin: 4.5px;
    background: #FFFFFF;
    border-radius: 41px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 47px;
    transition: all 0.3s ease-in 0s;
  }
  
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0; 
  }
  
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }

  .flip_grayscale{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
    font-family: sans-serif;
  }

  .button {
    background-color: #6b4cd0;
    color: #f3e0ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-inline-start: auto;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.button1 {
    background-color: #6b4cd0;
    color: #f3e0ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-inline-start: auto;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

/* Add this to your existing CSS */

.image_container {
    position: relative;
}

.static_description {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color:#000103;
    
    padding-left: 47px;
    padding-right: 51px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0.7;
    color: rgb(208 208 208);
}

